@import '../../styles/index';
$size: 32px;

.circle-label {
    border-radius: 100px;
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    color: $secondary-color;
    text-align: center;
    font-size: 11px;
    line-height: 3.1;
    background: transparent;
    border: 1px solid $border-color;
    transition: 0.3s;
    user-select: none;
    &.clickable {
        cursor: pointer;
        &:hover {
            opacity: 0.8;
            transition: 0.3s;
        }
        &:active {
            opacity: 0.9;
            transition: 0.3s;
        }
    }
    &.filled {
        background: $primary-color;
        border-color: $primary-color;
        color: #fff;
    }
}
